
body {
    background-image: url("../img/bg-neon.jpg");
}

input {
    visibility: hidden;
}

#refresh-button {
    color: #28a745;
}


.selection {
    width: 12em !important;
}

.btn.disabled, .btn:disabled {
    opacity: 1;
}
